.pswd-box {
    width: 40vw;
    height: 50vh;
    margin: 10rem auto;
    padding: 20px;
    background-color: rgb(242, 221, 221);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
}

.pswd-box form {
    /* background-color: lightblue; */
    width: 90%;
    height: 90%;
    text-align: center;
    font-size: 1.2rem;
}

.pswd-box ul {
    list-style: none;
}

.pswd-box input {
    margin: 20px 10px;
    padding: 10px;
    width: 60%;
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    color: rgb(19, 18, 18);
}

.pswd-box button {
    margin: 10px 0;
    padding: 10px 25px;
    background-color: rgb(72, 72, 76);
    color: white;
    border: none;
    cursor: pointer;
    width: 5rem;

    &:hover {
        background-color: rgb(52, 52, 57);
        transition: background-color 0.3s ease;
        outline: none;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }
}

.pswd-box .submit-btn {
    width: 10rem;
}

.pswd-box h2 {
    color: black;
}