.form-container {
    background-color: #393e46;
    background-color: #222831;
    padding: 15px;
    /* margin: 1rem; */
    width: 30vw;
    height: 43rem;
    box-shadow: inset 0px 0px 5px #f96d00;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: sans-serif;

}

.form-container>h1 {
    text-transform: uppercase;
    font-size: 1.2rem;
}

.form-container>form {
    width: 100%;
    height: 100%;
}

fieldset {
    padding: 20px;
    border-color: #f96c0042;
    border-radius: 8px;
    height: 100%;
}

legend {
    text-align: center;
    font-size: 1.2rem;
    color: #f96d00;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 20px;

}

.form-container input[type="text"],
.form-container input[type="password"],
.form-container input[type="email"],
.form-container input[type="tel"],
.form-container textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    background-color: #f96c003d;
    background-color: #393e46;
    /* float: left */
}

label {
    /* color: #f96d00; */
    font-weight: bold;
    display: block;
    clear: both;
    margin-bottom: 4px;
}

.form-container button[type='button'] {
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    background-color: #f96d00;
    background-color: #393e46;
    background-color: #f2f2f2;
    color: #000000;
    cursor: pointer;
    transition: background-color 0.2s;
    font-size: 0.8rem;
    width: 4rem;
    float: inline-end;
}

.form-container button[type='submit'] {
    margin-top: 40px;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #393e46;
    background-color: #f2f2f2;
    background-color: #f96d00;
    color: #000000;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
        background-color: #f96d00;
        background-color: #f2f2f2;
        color: #000000;
    }
}

.subMsg {
    display: inline-block;
    margin-left: 3rem;
    font-weight: 500;
}

.form-container p {
    color: #f96d00;
    margin-top: 0;
}

.form-container div {
    margin-top: 5px;
    height: 5.5rem;
    /* background-color: rgb(135, 138, 137); */
}